<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="assets/favicon.ico" />
    <script src="/scripts/phaser.min.js"></script>
</head>

<body>

    <script src="/scripts/game.js">

    </script>

</body>

</html>