<!DOCTYPE HTML>
<html>
<link rel="shortcut icon" type="image/png" href="/assets/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/style/index.css" />

<head>
    <title>BIG-NIG</title>
</head>

<body>
    <div id="main">
        <div id="title">
            <h1>EPIC PEPEGA</h1>
        </div>
        <div id="selectors">
            <uo>
                <li>Play</li>
                <li>Credits</li>
            </uo>
        </div>
    </div>
</body>

</html>